<% if(success && success.length) { %>
<div class="alert" role="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';"
    >&times;</span
  >
  <%= success %>
</div>
<% } %>
