<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <title>Home</title>
  </head>

  <body>
    <header class="sticky">
      <div>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/info">Info</a></li>
          <li><a href="#faq">FAQ</a></li>
        </ul>
      </div>
    </header>
    <main>
      <div class="container">
        <h1>
          Vote for Shadow Corp
        </h1>
        <img
          src="https://images.unsplash.com/photo-1529946825183-536c6317f60e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1063&q=80"
          alt=""
        />
      </div>

      <div class="grid-container">
        <div class="grid-child row">
          <div class="column">
          <p>
            <h1>Community Outreach</h1> 
            <br>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. A maxime aspernatur quam doloremque eos quis vitae dolor porro sunt! Dolore enim eligendi sint, asperiores consequuntur sit quasi ipsum natus neque ullam, consequatur molestias, placeat ad.
          </p>
        </div>
          <img
            id="card-img1"
            src="https://images.unsplash.com/photo-1557081999-aed1863cacb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHBvbGljZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60"
            alt=""
          />
        </div>

        <div class="grid-child row">
          <div class="column">
            <p>
              <h1>Making a Difference</h1>
              <br>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto perferendis officiis ullam, dolores omnis, quibusdam numquam vel optio, magni culpa maiores eos consequuntur ipsum cupiditate sed quidem tempore quis cum ex qui sunt hic eius neque? Quas tempore expedita ipsum?
            </p>
          </div>
          <img
            id="card-img2"
            src="https://images.unsplash.com/photo-1485056981035-7a565c03c6aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTM3fHxwb2xpY2V8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60 "
            alt=""
          />
        </div>
      </div>
    </main>

    <div class="footer-block">
      <div>
        <h1>Support the oppression</h1>
        <button class="btn-submit">Join Us</button>
      </div>
    </div>
  </body>
</html>
