body {
  background-image: url("https://images.unsplash.com/photo-1557597774-9d273605dfa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2363&q=80");
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  font-family: "Uchen";
  margin: 0;
}

h2 {
  font-size: 29px;
}

nav {
  background-color: #333;
  width: 100%;
  height: 5%;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  padding: 20px;
  margin-top: 0;
}

nav a {
  color: yellow;
}

.sticky {
  position: fixed;
  width: 100%;
}

.container {
  /* background-image: url("https://images.unsplash.com/photo-1491743715344-d5eed2a9c5bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"); */
  margin: auto;
  object-fit: contain;
  border: 4px;
  padding: 100px;
  text-align: center;
  border: 3px;
  justify-content: center;
  max-width: 400px;
  border-radius: 20px;
}

.container h2 {
  color: rgb(255, 255, 255);
}

.container img {
  max-height: 450px;
  margin: auto;
  object-fit: cover;
  border-radius: 20px;
  object-fit: contain;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 44%;
  float: left;
  padding: 20px;
  border: 2px solid red;
}

#card-img1 {
  width: 48%;
  float: right;
}

#card-img2 {
  width: 48%;
  float: right;
}

.column {
  float: left;
  width: 50%;
  color: white;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row h1 {
  color: white;
  display: inline;
}

.footer-block {
  text-align: center;
}

.footer-block h1 {
  color: white;
}

.btn-submit {
  background-color: rgb(84, 91, 107, 0.5);
  margin-bottom: 30px;
  padding: 15px 30px;
  color: rgb(183, 171, 223);
  font-size: 30px;
  border-radius: 5px;
  transition-duration: 0.5s;
}

.btn-submit:hover {
  background-color: rgba(198, 99, 243, 0.767);
  color: white;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
  float: right;
}
