body {
  background-color: rgb(78, 74, 74);
  color: rgb(0, 0, 0);
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1618482914248-29272d021005?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80");
  background-size: cover;
}

h1 {
  font-size: 60px;
}

.grid-container {
  margin: auto;
  max-width: 50%;
  padding: 20px;
  line-height: 50px;
  text-align: center;
}

#party {
  margin: 0 20px 0 5px;
}

#fanaticism {
  margin: 0 0 0 5px;
}

form {
  max-height: 30%;
  text-align: center;
  margin: 20px;
}

input {
  margin-top: 5px;
  margin-bottom: 15px;
}

#submit {
  padding: 3px 200px;
  margin-top: 20px;
  border-radius: 5px;
  transition-duration: 0.3s;
}

#submit:hover {
  background-color: rgb(224, 238, 26);
}
