<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/info.css" />
    <title>INFO</title>
  </head>
  <body>
    <h1><span>Dis</span>information Page</h1>
    <div>
      <a href="/">Return Home</a>
    </div>
    <div>
      <div class="container">
        <img
          src="https://images.unsplash.com/photo-1608576157328-b20830bd25bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzB8fHBvbGljZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60"
          alt=""
        />
      </div>
    </div>
  </body>
</html>
